@font-face {
  font-family: "albertus";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/albertus.otf');
  }


@font-face {
  font-family: "ice";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ice.ttf');
  }


